// Body
//$body-bg: #f8fafc;
$body-bg: #f2f3f8;
$body-color: #646c9a;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Poppins', Helvetica, sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
//$blue: #3490dc;
//$indigo: #6574cd;
//$purple: #9561e2;
//$pink: #f66d9b;
//$red: #e3342f;
$red:    #dc3545 !default;
$orange: #f6993f !default;
$very-light: #cbd3da !default;
//$yellow: #ffed4a;
//$green: #38c172;
//$teal: #4dc0b5;
//$cyan: #6cb2eb;

$colors: (
    "orange" : $orange,
    'errors' : $red,
    'processing': $orange
) !default;


$theme-colors: (
    "orange" : $orange,
    'errors' : $red,
    'processing': $orange,
    'very-light': $very-light
) !default;
